  h2{
	font-size:1.7rem !Important;
	color:#000 !Important;
  }
  h3{
	font-size:1.4rem !Important;
	color:#000 !Important;
  }
  .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
   padding-top: 71px !important; 
   }
   button#kt_header_mobile_toggler {
    display: none;
   }
   .profile-body h5 {
    color: #000;
    font-size: 18px;
}
div#profile_login {
    background: #fff;
    padding: 3rem;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 15px 25px 2px rgba(0,0,0,.14), 0 5px 30px 5px rgba(0,0,0,.12);
    border-radius: 2rem;
	margin-top:16%;
}
.profile-body p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
div#profile_login .profile-body a {
    background: #5867dd;
    box-shadow: 0 8px 14px hsla(0,0%,40%,.3);
    width: 100%;
    display: block;
    font-size: 16px;
}
span.kt-header__topbar-username.kt-hidden-mobile ~ img.kt {
    max-height: 20px !IMPORTANT;
}
div#all_store table {
    border: 1px solid #fff;
}
div#all_store table tr:nth-child(odd) {
    background: #fff;
}
div#all_store h3{
	color:#000;
}

/***************************Media Query*********************/

@media(max-width:767px){
.kt-content .row div:nth-child(2) {
    margin-top: 15px;
}
}

@media only screen and (min-width: 320px) and (max-width: 1024px){
	#kt_header_mobile_topbar_toggler {
		display: none;
	}
}
